<h1>Edit <%= @game.name %> </h1>
<form action="/games/<%= @game.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Game Name:</label>
  <input type="text" name="name" value="<%=@game.name %>"><br><br>
  <label for="game_type">Game Type:</label>
  <input type="text" name="game_type" value="<%=@game.game_type%>"><br><br>
  <label for="playtime">Play Time:</label>
  <input type="text" name="playtime" value="<%=@game.playtime%>"><br><br>
  <label for="playercount">Player Count:</label>
  <input type="text" name="playercount" value="<%=@game.playercount%>"><br><br>
  <input type="submit" value="Submit">
</form>
